<h1>Add football teams</h1>
<form action="/footballTeam" method="post">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="president" placeholder="President" />
  <input type="text" name="director" placeholder="Director" />
  <input type="text" name="coach" placeholder="Coach" />
  <button type="submit">Add Team</button>
</form>