<form action="/users/register" method="post">
    <h1>Register</h1>
    <label>
        <span>Username:</span>
        <input type="text" name="username" placeholder="Username"/>
    </label>
    <label>
        <span>Email:</span>
        <input type="email" name="email" placeholder="Email">
    </label>
    <label>
        <span>Password:</span>
        <input type="password" name="password" placeholder="Password"/>
    </label>
    <button type="submit">Register</button>
</form>